body, html {
  height: 100%;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #000;
  color: white;
}

.navbar {
  width: 100%;
  background-color: #333;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.nav-list li {
  display: inline;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  border-right: 1px solid white;
}

.nav-list li:last-child a {
  border-right: none;
}

.nav-list li a:hover {
  background-color: #555;
}

.stats-image {
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27323d;
  border-radius: 20px;
  box-sizing: border-box;
}

.stats-image img {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 100%;
  max-height: 100%;
}